################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/LLMcomunication/bin/Debug/net9.0
/LLMcomunication/appsettings.json
